<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.no_ip.taka16.deliverybook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".book.BookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frame.FrameFormActivity"
            android:label="@string/input_frame"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".frame.FrameListActivity"
            android:label="@string/list_frames"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".book.BookListActivity"
            android:label="@string/list_delivery_book"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".book.BookFormActivity"
            android:label="@string/delivery_book_form"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".deliverable.DeliverableFormActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".deliverable.DeliverableListActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".delivery.DeliveryActivity"
            android:label="@string/title_activity_delivery"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">

        </activity>
        <activity android:name=".DebugDataMakerActivity"></activity>
    </application>

</manifest>
