<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.no_ip.taka16.deliverybook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".delivering.DeliveringActivity"
            android:theme="@style/Theme.AppCompat"
            />
        <activity
            android:name=".frame.FrameFormActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="@string/input_frame"
            />
        <activity
            android:name=".frame.FrameListActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="@string/list_frames"
            />
        <activity
            android:name=".book.BookListActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="@string/list_delivery_book"
            />
        <activity
            android:name=".book.BookFormActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="@string/delivery_book_form"
            />
        <activity
            android:name=".deliverable.DeliverableFormActivity"
            android:theme="@style/Theme.AppCompat"
            />
        <activity
            android:name=".deliverable.DeliverableListActivity"
            android:theme="@style/Theme.AppCompat"
            />
        <activity
            android:name=".book.BookActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="@string/app_name"
            >

        </activity>
    </application>

</manifest>
